$primary: #6e56e0;
$secondary: #1e1e1e;
$white: #ffffff;
$black-main: #151515;
$danger: #c33535;
$gray-light: #d9d9d9;
$gray-lighter: #1e1e1e;
$gray-lightest: #202020;
$gray-main: #898989;
$gray-dark: #272727;
$gray-black: #1e1e1e;
$green-main: #288a05;
$orange-main: #ffa424;
$purple-dark: #4531a3;
$yellow-main: #ffd928;
